* {
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #f8f9fa
}

/* Header */
.navbar-nav li a,
.navbar span a
{
    color: black;
    font-size: 14px;
}
.disney-hotstar {
    height: auto;
}

.disney-hotstar a {
    font-size: 14px;
    text-decoration: none;
}

/* Hero */

video {
    width: 100%;
    position: relative;
    z-index: -1;
}


.hero-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 150px;
}

.hero-button .button1 {
    background-color: #6db0c0;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    font-size: 14px;
}

.hero-button .button2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 14px;
}

/* Homepage */

.homepage img {
    
    width: 100%;
    left: 0;
}


/* card */

 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .card-item p {
    margin-top: 10px;
  } 
  
  /* pilihan video  */
.about {
    padding: 8rem 7% 1.4rem ;
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about p {
    text-align: center;
    font-size: 1.4rem;
    margin: auto;
    font-weight: 400;
}

.video h2 {
    font-size: 1rem;
    margin-top: 3rem;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.video p {
    font-size: 0.7rem;
    text-align: left;
    font-weight: 300;
    margin-bottom: 0.2rem;
}

.videos p {
    font-size: 0.7rem;
    text-align: left;
    font-weight: 300;
    margin-top: 0.2rem;
}

.videoo-text p {
    font-size: 1rem;
    margin-top: 3rem;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}