* {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #f8f9fa;
  overflow-x: hidden;
}

/* Header */
.navbar-nav li a,
.navbar span a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

header {
  transition: all 0.3s ease;
}

header > nav:hover {
  position: relative;
}

.nav-hover-shop {
  width: 100%;
  height: 50px;
  display: none;
  position: absolute;
  top: 60px;
  z-index: 99;
  padding-top: 15px;
  font-size: 14px;
}

.segitiga-shop {
  position: absolute;
  left: 11%;
  top: -10px;
  scale: 100%;
  z-index: -999;
}

.nav-hover-trending {
  width: 100%;
  height: 50px;
  display: none;
  position: absolute;
  top: 60px;
  z-index: 99;
  padding-top: 15px;
  font-size: 14px;
}
.segitiga-trending {
  position: absolute;
  left: 18%;
  top: -10px;
  scale: 100%;
  z-index: -999;
}

.nav-hover-more {
  width: 100%;
  height: 50px;
  display: none;
  position: absolute;
  top: 60px;
  z-index: 99;
  padding-top: 15px;
  font-size: 14px;
}
.segitiga-more {
  position: absolute;
  left: 38%;
  top: -10px;
  scale: 100%;
  z-index: -999;
}

.disney-hotstar {
  height: auto;
}

.disney-hotstar a {
  font-size: 14px;
  text-decoration: none;
}

.modal-content {
  scale: 70%;
}

.modal-close {
  top: 4%;
  right: 3%;
  z-index: 99;
}

.modal-body {
  width: 100%;
}

.modal-body > img {
  width: 60%;
}

.modal-body > form {
  width: 90%;
}

.modal-body > button {
  width: 90%;
}

/* Hero */

.hero {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

video {
  max-width: 100%;
  scale: 1.05;
}

.hero .hero-bg {
  width: 100%;
  max-width: 1440px;
  transition: all 0.3s;
  cursor: pointer;
  scale: 1.02;
}

.hero .hero-bg:hover {
  scale: 1.05;
}

.hero-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 26%;
  left: 13%;
}

.hero-poster p {
  font-size: 14px;
}

.hero-button {
  position: absolute;
  top: 66%;
  left: 12%;
}

.hero-button .button1 {
  background-color: #e17f1e;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  width: 200px;
  margin-right: 20px;
}

.hero-button .button1:hover {
  opacity: 80%;
}

.hero-button .button2 {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  width: 200px;
}

.hero-button .button2:hover {
  background-color: rgba(255, 255, 255, 10%);
  border: 1px solid black;
}

/* Homepage */

.homepage img {
  width: 100%;
  scale: 1.02;
}

/* card */

.cards {
  cursor: pointer;
}

.cards .row {
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-item img {
  width: 100%;
  height: auto;
}

.card-item .text-card {
  width: 80%;
  margin-top: 20px;
  height: 300px;
}

.card-item .text-card p {
  font-size: 20px;
  line-height: 22px;
}

.card-item .text-card a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* pilihan video  */

.pilihan-vidios {
  margin-bottom: 30px;
}

.card-vidio {
  overflow: hidden;
  position: relative;
}

.card-vidio img {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.card-vidio:hover img {
  transform: scale(1.05);
}

.header-videos p {
  font-size: 20px;
  margin-bottom: 30px;
}

.play-vidio {
  position: absolute;
  top: 20%;
  left: 40%;
}

.card-vidio .card-body {
  height: 300px;
}

.card-vidionew .card {
  border: none;
  border-radius: 0;
  background-color: #0c2c67;
  color: white;
}

.card-vidionew .card .card-body-vidionew h4 {
  font-size: 20px;
}

.card-vidionew .card .card-body-vidionew p {
  font-size: 14px;
}

.card-vidionew .card .card-body-vidionew a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.card-vidionew .card-body {
  height: 225px;
}

/* Slider */

.swiper-container img {
  transition: transform 0.3s ease;
}

.swiper-container img:hover {
  transform: scale(1.05);
}

.dplus-hotstar-brand {
  width: 70%;
  margin-left: 15%;
}

.btn-signup button {
  width: 200px;
  align-items: center;
  margin-left: 40%;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
}

.btn-signup button:hover {
  opacity: 80%;
}

/* lainnya disney */

.card-other .card {
  border: none;
  border-radius: 0;
  background-color: #fff;
  color: black;
}

/* product */
.card-product {
  cursor: pointer;
}

.subheader-product {
  font-size: 18px;
}

.card-product img {
  transition: all 0.5s ease;
  scale: 95%;
}

.card-product img:hover {
  scale: 96%;
}

.card-product button {
  border-radius: 50px;
  border: 1px solid black;
  width: 150px;
  font-weight: 600;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  margin-top: 100px;
}

.card-product button:hover {
  background-color: #0070d2;
  color: white;
}

.card-product p {
  width: 70%;
  text-align: center;
}

.card-product .harga {
  font-size: 14px;
  font-weight: bold;
}

/* Footer */
.footer {
  text-decoration: none;
  margin-right: 2rem;
  font-size: 12px;
  color: black;
}
.footer:hover {
  color: blue;
}
